body {
    padding: 0;
    margin: 0;
    .item2 {
        grid-area: menu;
        .setting {
            padding: 20px;
            cursor: pointer;
        }
        .setting:nth-child(1) {
            background-color: #FFD700;
            transition-duration: 0.4s;
            &:hover {
                background-color: black;
                color: #FFD700;
            }
        }
        .setting:nth-child(2) {
            &:hover {
                background-color: black;
                color: white;
            }
        }
        .setting:nth-child(3) {
            background-color: #E6E6E6;
            transition-duration: 0.4s;
            &:hover {
                background-color: black;
                color: #E6E6E6;
            }
        }
        .setting:nth-child(4) {
            background-color: #CCCCCC;
            transition-duration: 0.4s;
            &:hover {
                color: #CCCCCC;
                background-color: black;
            }
        }
        .setting:nth-child(5) {
            background-color: #B3B3B3;
            transition-duration: 0.4s;
            &:hover {
                background-color: black;
                color: #B3B3B3;
            }
        }
    }
    .item3 {
        grid-area: main;
        .profile-name {
            margin-left: 20rem;
            display: flex;
            img {
                width: 10%;
                object-fit: contain;
                margin-right: 2rem;
            }
        }
        .follow {
            display: flex;
            .followers {
                display: block;
                margin-right: 5rem;
                margin-left: 30rem;
            }
            .follows {
                display: block;
            }
        }
        .description {
            margin-left: -18rem;
        }
    }
    .profile-container {
        display: grid;
        grid-template-areas: 'menu main main main main main';
        gap: 10px;
        grid-template-columns: repeat(auto-fill, 20em);
    }
    .profile-container>div {
        text-align: center;
        padding: 20px 0;
        font-size: 30px;
    }
}