body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    overflow-x: hidden;
    /* For navigation */
    nav {
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 10px;
            padding: 10px;
            background: rgb(255, 0, 0);
            background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 153, 255, 1) 100%);
            box-shadow: 2px 3px 5px grey;
            &>div {
                text-align: center;
                font-size: 30px;
            }
        }
        div:nth-child(1) {
            cursor: pointer;
            display: flex;
            img {
                margin-left: 5rem;
                object-fit: contain;
                width: 10%;
            }
            h1 {
                margin-top: auto;
                margin-bottom: auto;
                margin-left: 2rem;
                font-size: 2rem
            }
        }
        div:nth-child(2) {
            width: 30%;
            input {
                width: 100%;
                padding: 12px 20px;
                margin-top: 0.9rem;
                box-sizing: border-box;
            }
        }
        div:nth-child(3) {
            .loginBtn {
                margin-top: 0.5rem;
                margin-left: 20rem;
            }
            img:nth-child(1) {
                cursor: pointer;
                margin-top: 0.2rem;
                margin-left: 2rem;
                width: 10%;
            }
            .dropdown {
                position: relative;
                display: inline-block;
                background-color: #2196F3;
                cursor: pointer;
                height: 0px;
                img {
                    width: 27%;
                    margin-bottom: 0.3rem;
                }
                .dropdown-content {
                    margin-top: -0.7rem;
                    margin-left: 5rem;
                    display: none;
                    text-align: left;
                    position: absolute;
                    background-color: #f9f9f9;
                    min-width: 160px;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                    z-index: 1;
                    cursor: context-menu;
                    a {
                        font-size: 1rem;
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                        &:hover {
                            background-color: #f1f1f1
                        }
                    }
                }
                &:hover .dropdown-content {
                    display: block;
                }
            }
        }
    }
    /* For Modal */
    /* The Modal (background) */
    .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
    }
    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 30%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }
    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .modal-header {
        padding: 2px 16px;
        background: rgb(255, 0, 0);
        background: linear-gradient(0deg, rgba(255, 0, 0, 1) 0%, rgba(255, 153, 255, 1) 100%);
        color: white;
    }
    .modal-body {
        padding: 2px 16px;
        input[type=text],
        input[type=date],
        input[type=file] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
        input[type=checkbox] {
            width: 20px;
            height: 20px;
            background-color: #000;
        }
        input[type=submit] {
            background-color: #4CAF50;
            /* Green */
            border: 2px solid green;
            color: white;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover {
                background-color: white;
                color: black;
                border: 2px solid #4CAF50;
            }
        }
    }
    /* For main content */
    main {
        margin: 2rem;
        h1 {
            text-align: center;
        }
        .noFollowsText {
            text-align: center;
        }
        /* For table */
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;
            // grid-template-columns: repeat(auto-fill, 20em);
            .imgAndUser {
                text-align: center;
                display: flex;
                font-size: 20px;
                img {
                    object-fit: contain;
                    width: 2%;
                    margin-right: 3rem;
                    margin-left: 4rem;
                    cursor: pointer;
                }
                .username {
                    text-align: left;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
            .post {
                max-width: 360px;
                max-height: 490px;
                border: 1px solid black;
                border-radius: 30px;
                box-shadow: 5px 5px 15px 5px #BAACB3;
                p {
                    text-align: center;
                    font-size: 15px;
                }
            }
            .likeAndDes {
                text-align: center;
                display: flex;
                font-size: 20px;
                img {
                    cursor: pointer;
                    object-fit: contain;
                    width: 2%;
                    margin-right: 3rem;
                    margin-left: 4rem;
                }
            }
        }
        .grid-container>div {
            background-color: #FFFFFF;
            text-align: center;
            font-size: 30px;
            align-items: center;
            margin-right: -100rem;
        }
    }
    footer {
        background-color: aqua;
        text-align: center;
    }
}

button {
    padding: 20px;
    margin: 4px 0px;
    color: white;
    background-color: hsl(197, 100%, 23%);
    text-decoration: none;
    box-shadow: 2px 3px 5px gray;
    transition: 0.3s;
    border-radius: 8px;
    border: none;
    &:hover {
        background-color: hsl(197, 100%, 33%);
        cursor: pointer;
    }
}

;